body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100px;
    float: left;/*float(浮动):用于元素水平方向的布局*/
    width: 100%;
    overflow-x: clip;
    background-image: url("7f819a749e7f41adb564b63feb36a437.jpeg");
    background-size:100%;
    background-attachment: fixed;
}
*{
    /*去除margin和padding避免定位出现干扰*/
    /*星号代表选择所有元素*/
    margin:0px;
    padding: 0px;
}
#d1{
    position:absolute;
    width:100%;/*定义宽高*/
    height:800px;
    background-repeat: no-repeat;/*图片不会平铺出现*/
    background:url(1.jpg);/*图片用背景的方式展示在d1块上*/
}
.i2{
    /*定义按钮大小位置*/
    width: 10px;
    height: 50px;
    position:absolute;/*绝对定位*/
    top: 50%;
    right: 0px;
    margin-top: -25px;
    font-size: 40px;/*字体大小,采用<>俩符号*/
}
.i1{
    /*定义按钮大小位置*/
    width: 100px;
    height: 50px;
    position:absolute;/*绝对定位*/
    top: 50%;
    left: 0px;
    margin-top: -25px;
    font-size: 40px;
}
#d2{
    /*定义播放顺序板块的大小位置*/
    position:absolute;/*绝对定位*/
    width:200px;
    height: 30px;
    background: none;/*无背景,理解为透明*/
    bottom: 0px;
    left:50%;
    margin-left: -100px;
    display: flex;/*横向排列,使5个点横向排列*/
}
#d21,#d22,#d23,#d24,#d25{
    /*定义播放顺序板块中每一个小圆圈的大小和位置*/
    width:10px;
    height: 10px;
    background: rgba(0,255,243,1.00);/*rgba四个字母代表红绿蓝透明*/
    /*这里其实使用rgb或者16进制就可以,多此一举了*/
    position: relative;/*相对定位,相对于自身未设置之前的位置*/
    margin-top: 10px;
    margin-left: 25px;
    border-radius:5px;
}


header {
    background-color: aqua;
    border: 1px solid black;
    padding:10px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 100%;
}
/* 导航栏样式 */
.navbar {
    overflow: hidden;
    background-color: #333;
    position:fixed;
    width: 100%;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar as {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* 搜索框样式 */
.search-container {
    float: right;
}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}
headerx {
    background-color: aqua;
    border: 1px solid black;
    padding:10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    width: 100%;
    justify-content:center;
    display: inline-flex;
}


nav li {
    margin-right: auto;
    margin-left: auto;
    color: black;
}
nav asd{
    text-align:left;
    color: black;
    float: left;

}
nav a {
    color: #fff;
    text-decoration: none;
}

nav form {
    display: flex;

    float: right;
    margin-left: 30px;
    width: 200px;
    height: 30px;
}

nav input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

nav button[type="submit"] {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    height: auto;
    width: auto;
    background-color: aqua;
    color:black;
    padding: 10px;
    text-align: center;

}

box{
    float: left;
    display: inline-block;
    padding: 10px;
    border: 1px solid blue;
    width: 700px;
    height: 450px;
    margin-right: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: aqua;

}
boxmain{
    float: left;
    display: inline-block;
    padding: 10px;

    width: 700px;
    height: 450px;
    margin-right: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 30px;


}
box2{
    float: right;
    display: inline-block;
    width: 200px;
    height: 150px;
    background-image: url("pic/IMG_20230322_121249.jpg");
    background-size: 100%;
    border: 1px solid blue;
    margin-right: 5px;
    padding: 1px;


}
box21 {
    float: right;
    display: inline-block;
    width: 255px;
    height: 150px;
    background-image: url("pic/1679411563600.png");
    background-size: 100%;
    border: 1px solid blue;
    margin-right: 5px;
    padding: 1px;

}

box22{
    float: right;
    display: inline-block;
    width: 200px;
    height: 250px;
    background-image: url("pic/1679411782998.jpg");
    background-size: 100%;
    border: 1px solid blue;
    margin-right: 5px;
    padding: 1px;


}
box23{
    float: right;
    display: inline-block;
    width: 330px;
    height: 250px;
    background-image: url("pic/1679412944166.jpg");
    background-size: 100%;
    border: 1px solid blue;
    margin-right: 5px;
    padding: 1px;


}
box24{
    float: right;
    display: inline-block;
    width: 430px;
    height: 250px;
    background-image: url("pic/1679413146605.png");
    background-size: 100%;
    border: 1px solid blue;
    margin-right: 5px;
    padding: 1px;


}
box25{
    float: right;
    display: inline-block;
    width: 400px;
    height: 300px;
    background-image: url("pic/微信图片_20230331213901.jpg");
    background-size: 100%;
    border: 1px solid blue;
    margin-right: 5px;
    padding: 1px;


}
box26{
    float:left;
    display: inline-block;
    width: 400px;
    height: 300px;
    background-image: url("pic/屏幕截图(4508).png");
    background-size: 100%;
    border: 1px solid blue;
    margin-right: 5px;
    padding: 1px;


}
box27{
    float: left;
    display: inline-block;
    width: 400px;
    height: 300px;
    background-image: url("pic/微信图片_20230331223009.jpg");
    background-size: 100%;
    border: 1px solid blue;
    margin-right: 5px;
    padding: 1px;


}
box28{
    float: left;
    display: inline-block;
    width: 400px;
    height: 300px;
    background-image: url("pic/IMG_20230321_225135.jpg");
    background-size: 100%;
    border: 1px solid blue;
    margin-right: 5px;
    padding: 1px;


}
box29{
    float: left;
    display: inline-block;
    width: 400px;
    height: 280px;
    background-image: url("pic/b9e72aafe7704a62af821a5a4b8fb5a3.png");
    background-size: 100%;
    border: 1px solid blue;
    margin-right: 5px;
    padding: 1px;


}
box4{
    float: left;
    display: inline-block;
    padding: 10px;
    border-bottom:1px solid blue ;
    border-left:1px solid blue ;
    width: 745px;
    height: 350px;
    margin-bottom: 20px;
    background-color: aqua;

}
box5{
    float: left;
    display: inline-block;
    padding: 10px;
    border-bottom:1px solid blue ;
    width: 745px;
    height: 400px;
    margin-bottom: 20px;

}

box3{
    float: left;
    display: inline-block;
    padding: 10px;
    border-top: 1px solid blue;
    border-bottom:1px solid blue ;
    border-left:1px solid blue ;
    width: 490px;
    height: 300px;
    background-color: aqua;

}
box10{
    float: left;
    display: inline-block;
    padding: 5px;
    border: 1px solid blue;
    width: 100%;
    height: 200px;


    border-radius: 30px;

}
text{
    text-align: center;
}
text2{
    text-align: left;
}
clear{
    clear: both;
    display: block;
}
p1{
    font-size: 17px;
    margin:10px;
    clear: both;
    display: block;

}
